button {
  border: none;
  background-color: rgb(9, 116, 224);
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;

  &:hover {
    background-color: rgb(9, 90, 171);
  }

  &:active {
    margin:  (+2px) (-2px) (-2px) (+2px);
  }
}

.equals {
  grid-column: 3 / 5;
  background-color: rgb(243, 61, 29);

  &:hover {
    background-color: rgb(228, 39, 15);
  }
}